.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 50%;
  font-size: 50px;
  padding: 50px;
  text-align: left;
  color: white;
}

.toggle-view {
  background-color: #727f9a;
  height: 40%;
  display: flex;
  justify-content: space-around;
}

.toggleBtn {
  background-color: #3f4655;
  border: 2px solid #282c34;
  margin: 15px;
  font-size: 20px;
  width: 30%;
  color: #ffffff;
}

.toggleBtn:hover {
  background-color: #a9b8da;
}

.add-pet-form {
  display: flex;
  padding-left: 50px;
}

.pet-form {
  margin: 10px;
}

.header {
  text-align: left;
  padding-left: 20px;
}

.history-wrapper {
  padding-left: 60px;
  display: flex;
}

.history-table {
  border: 2px solid #282c34;
  border-collapse: collapse;
}

tr, td, th {
  border: 2px solid #282c34;
  border-collapse: collapse;
  padding: 15px;
}

tr:nth-child(even) {background: #e6ebf7}
tr:nth-child(odd) {background: #a9b8da}